<input type="checkbox" id="hidden-input">
<label for="hidden-input" class="dimmer"></label>
<div class="side-menu">
    <ul class="side-menu__list">
        <a href="/category/log">
            <li class="side-menu__list__item">
                <i class="fas fa-folder"></i> log
            </li>
        </a>
        <a href="/category/web">
            <li class="side-menu__list__item">
                <i class="fas fa-folder"></i> web
            </li>
        </a>
        <a href="/category/algorithm">
            <li class="side-menu__list__item">
                <i class="fas fa-folder"></i> algorithm
            </li>
        </a>
        <a href="/category/nodejs">
            <li class="side-menu__list__item">
                <i class="fas fa-folder"></i> node js
            </li>
        </a>
        <br>
        <a href="https://github.com/j911" target="_blank">
            <li class="side-menu__list__item">
                <i class="fab fa-github"></i> GitHub
            </li>
        </a>
        <a href="https://www.linkedin.com/in/jaemin-lee-8850b7152/" target="_blank">
            <li class="side-menu__list__item">
                <i class="fab fa-linkedin"></i> Linked In
            </li>
        </a>
        <a href="https://www.instagram.com/j911.me/" target="_blank">
            <li class="side-menu__list__item">
                <i class="fab fa-instagram"></i> Instagram
            </li>
        </a>
        <a href="https://www.facebook.com/jaemin.org" target="_blank">
            <li class="side-menu__list__item">
                <i class="fab fa-facebook"></i> Facebook
            </li>
        </a>
        <a href="mailto:jaemin.lee.email@gmail.com">
            <li class="side-menu__list__item">
                <i class="far fa-envelope"></i> Contact to email
            </li>
        </a>
    </ul>
</div>