<input type="checkbox" id="hidden-input">
<label for="hidden-input" class="dimmer"></label>
<div class="side-menu">
    <ul class="side-menu__list">
        <a href="/category/Posts">
            <li class="side-menu__list__item">
                <i class="fas fa-folder"></i> Posts
            </li>
        </a>
        <br>
        <a href="https://github.com/kmss1258" target="_blank">
            <li class="side-menu__list__item">
                <i class="fab fa-github"></i> GitHub
            </li>
        </a>
        <a href="/resume.html">
            <li class="side-menu__list__item">
                <i class="far fa-file-alt"></i> Resume
            </li>
        </a>
        <a href="mailto:kmss1258@gmail.com">
            <li class="side-menu__list__item">
                <i class="far fa-envelope"></i> Contact to email
            </li>
        </a>
    </ul>
</div>
